.grid-container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    box-sizing: border-box;
    flex: 1;
    border: 1px solid black;
    margin-left: -1px;
    margin-top: -1px;
}

.change-size, .clear {
    padding: 10px;
    border-radius: .5em;
    border: none;
    margin-left: 20px;
}

.change-size:hover, .clear:hover {
    background-color: lightgray;
}

body {
    background-color: tan;
    text-align: center;
    font-family: fantasy, arial;
}

.title {
    font-size: 50px;
    color: black;
    letter-spacing: 5px;
}